h1 {
  height: auto;
  width: 100%;
}
* {
  height: auto;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

h4{
    font-size: 23px;
}
h5{
  font-size: 25px;
}
.contact{
  font-size: 45px;
  height: 5vh;
}
.glitcher
{
  text-align: center;
    color: #d9fff9;
    font-size: 80px;
    letter-spacing: 6px;
    font-weight: 300;
    margin: 0;
    line-height: 0;
    height: 5vh;
}
.glitched
{
  text-align: center;
    color: #d9fff9;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 300;
    margin: 0;
    line-height: 0;
}
h2 {
  text-align: center;
  color: #d9fff9;
  font-size: 80px;
  letter-spacing: 6px;
  font-weight: 300;
  margin: 0;
  line-height: 0;
  height: 0px;
}
h4 {
    text-align: center;
    color: #d9fff9;
    font-size: 45px;
    letter-spacing: 6px;
    font-weight: 300;
    margin: 0;
    line-height: 0;
    height: 0px;
}
h2:nth-child(2)
{
  animation: glitch2 1s infinite; 
  color: #0ef0e1;
  height: 0px;
}
h2:nth-child(3)
{
  color: #ff94eb;
  animation: glitch3 1.0s infinite;   
  height: 100px;
}

.glitch {
    animation: glitch1 0.5s infinite; 
  }

  h3 {
    text-align: center;
    color: #d9fff9;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 300;
    margin: 0;
    line-height: 0;
  }

  h3:nth-child(2)
{
  animation: glitch2 1s infinite; 
  color: #0ef0e1;
  height: 0px;
}
h3:nth-child(3)
{
  color: #ff94eb;
  animation: glitch3 1.0s infinite;   
  height: 100px;
}

  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1; 
    }
    50% {
      transform: skew(-2deg, 0.6deg);
      opacity: 0.75;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    50% {
      transform: translate(-3px, -1px);
      opacity: 0.5;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
}
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    50% {
      transform: translate(3px, 1px);
      opacity: 0.5;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }

a {
    color: rgb(255, 255, 255);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: rgb(0, 0, 0);
}

header {
    background-color: black;
    height: 100vh;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
    color: #ffffff;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 300;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(255, 255, 255);

}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

	header .header-content .header-content-inner h1 {
    	font-size: 100px;
		}

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}


.navbar-default {
    border-color: rgba(34,34,34,.05);
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.navbar-header {
    background-color: #000;
}



.navbar-default .navbar-header .navbar-brand {
    color: rgb(255, 255, 255);
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #505050;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: rgb(28, 9, 80);
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: rgb(82, 82, 82)!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
        letter-spacing: 0.5em;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: #fff;
        background-color: #fff;
        box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        letter-spacing: 0;
        color: rgb(79, 80, 78);
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: rgb(79, 80, 78);
    }
}


.navbar-toggle {
    background-color: #000;
}


.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgb(46, 46, 46);
}



::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}



